---
layout: default
---

<div class="home">
  {% if page.title %}
   <!-- <h2 class="page-heading">{{ page.title }}</h2> -->
  {% endif %}

  {{ content }}

  <div class="home-div">
   
    <p> Recursus is a triptych of computational literature composed of WordSquares, Subwords and AIT, three modules using recursion and neural text generation. More information on the <a href="/about">About</a> page. 

    <div class="video-container">
    <iframe max-width="100%" height="auto" src="https://www.youtube.com/embed/Cl42-gEwxSM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    &nbsp;
    <hr>

    <p>All posts follow hereafter. Category-based perusal is also possible:</p>
    <ul class="home-list">
        <li class="home-list">
            <p><a class="home-link" href="/category/squares.html">WordSquares</a></p>
        </li>
        <li class="home-list">
            <p><a class="home-link" href="/category/subwords.html">Subwords</a></p>
        </li>
        <li class="home-list">
            <p><a class="home-link" href="/category/ait.html">AIT</a></p>
        </li>
        <li class="home-list">
            <p><a class="home-link" href="/category/lore.html">Lore</a></p>
        </li>
    </ul>

    <hr> 

</div>

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }} 
        {% endif %}
      </li>
      <p align="right"><a href="{{ post.url | relative_url }}">More...</a></p>
      {% endfor %}
    </ul>

  {% endif %}


</div>
